{% extends 'layout.html' %} {% load staticfiles %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <section class="panel">
                {% if msg.texto %}
                    <div class="alert alert-{{msg.tipo}} fade in ">
                        <button class="close close-sm" type="button" data-dismiss="alert">
                            <i class="fa fa-times"></i>
                        </button>
                        {{ msg.texto }}
                    </div>
                {%  endif %}
                <form action="{{ url_post }}" role="form" method="POST" >
                    {% csrf_token %}
                    <div class="panel-body">
                            {% for field in form %}
                                <div class="form-group">
                                    <label for="{{ field.name }}">{{field.label}}</label>
                                    {% if field.field.required %} <span style="color:red;">*</span> {% endif %}<br>
                                    {{field}}
                                </div>
                            {% endfor %}
                    </div>
                    <div class="panel-footer">
                        {% if modo != 'excluir' %}
                            <button class="btn btn btn-primary" id="salvarBtn" type="submit"><i class="fa fa-save"></i>Salvar</button>
                        {% endif %}
                        {% if url_del %}
                            <a href="{{ url_del }}">
                            <button class="btn btn-danger" type="button"><i class="fa fa-trash-o"></i>Excluir</button>
                            </a>
                        {% endif %}<br>
                    </div>
                </form>
            </section>
        </div>
    </div>
{% endblock %}