<div class="row">
    <div class="col-xs-12">
        <div class="panel">
            <div class="panel-body">
                <div class="adv-table">
                    <table  class="display table table-bordered table-striped " id="dynamic-table">
                                          <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Editar</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Nome</th>
                                <th>Editar</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for item in lista %}
                                 <tr>
                                    <td>{{ item.nome }}</td>
                                    <td align="center">
                                        <a class="btn btn-primary" href="/media/video/edit/{{ item.id }}"><i class="fa fa-edit"></i> Editar</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>